<%- include("./elements/global") %>
<html>
  <head>
    <%- include('./elements/head') %>
  </head>
  <body>
    <%- include("./elements/header") %>
    <main>
      <div class="main">
        <h2>購入しました</h2>
      </div>
    </main>
    <%- include("./elements/footer") %>
  </body>
</html>